body{
    margin:0;
    font-family:'Segoe UI', Arial;
    background:linear-gradient(to right,#1e293b,#020617);
    color:#e5e7eb;
}

/* ===== HEADER ===== */
header{
    background:#020617;
    padding:20px;
    text-align:center;
    font-size:26px;
    font-weight:bold;
    border-bottom:2px solid #3b82f6;
}

/* ===== CONTAINER ===== */
.container{
    width:80%;
    margin:auto;
    margin-top:35px;
}

/* ===== BUTTONS ===== */
.btn{
    display:block;
    width:360px;
    padding:16px;
    margin:18px auto;
    text-align:center;
    font-size:18px;
    border-radius:30px;
    text-decoration:none;
    color:white;
    font-weight:bold;
    transition:0.3s ease;
    cursor:pointer;
}

.blue{background:#3b82f6;}
.blue:hover{background:#2563eb;}

.green{background:#22c55e;}
.green:hover{background:#16a34a;}

.red{background:#ef4444;}
.red:hover{background:#dc2626;}

/* ===== QUESTION ===== */
.question-box{
    background:#020617;
    padding:26px;
    border-radius:16px;
    font-size:21px;
    box-shadow:0 0 14px rgba(14,165,233,0.4);
}

/* ===== OPTIONS ===== */
.option{
    background:#020617;
    padding:15px;
    margin:12px 0;
    border-radius:12px;
    border:2px solid #3b82f6;
    cursor:pointer;
    transition:0.2s;
}

.option:hover{
    background:#1e40af;
}

/* ===== IMAGE ===== */
img{
    width:240px;
    height:240px;
    object-fit:contain;
    display:block;
    margin:auto;
}

/* ===== MODAL OVERLAY ===== */
.modal{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.75);
    display:none;
    justify-content:center;
    align-items:center;
    z-index:1000;
}

/* ===== MODAL BOX ===== */
.modal-box{
    background:#020617;
    padding:26px 30px;
    border-radius:16px;
    width:360px;
    text-align:center;
    border:2px solid #3b82f6;
    box-shadow:0 0 25px rgba(59,130,246,0.45);
    animation:zoomIn 0.25s ease;
}

.modal-box h2{
    margin-bottom:10px;
    font-size:22px;
}

.modal-box p{
    font-size:16px;
    color:#cbd5f5;
    line-height:1.6;
}

/* ===== MODAL BUTTONS ===== */
.modal-actions{
    display:flex;
    justify-content: center;
    gap:16px;
    margin-top: 22px;
}

.modal-actions .btn{
    width:130px;
    padding:12px 0;
    font-size:15px;
    border-radius:14px;
    margin:0;
}

/* ===== ANIMATION ===== */
@keyframes zoomIn{
    from{
        transform:scale(0.85);
        opacity:0;
    }
    to{
        transform:scale(1);
        opacity:1;
    }
}

.exit-box{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.75);
    display:none;
    justify-content:center;
    align-items:center;
    z-index:9999;
}

.exit-card{
    background:#020617;
    padding:26px 30px;
    border-radius:16px;
    width:360px;
    text-align:center;
    border:2px solid #3b82f6;
    box-shadow:0 0 25px rgba(59,130,246,0.45);
    animation:zoomIn 0.25s ease;
}

.exit-card h2{
    margin-bottom:10px;
    font-size:22px;
}

.exit-card p{
    font-size:16px;
    color:#cbd5f5;
    line-height:1.6;
}

.exit-actions{
    display:flex;
    justify-content:center;
    gap:16px;
    margin-top:22px;
}

.exit-actions .btn{
    width:130px;
    padding:12px 0;
    font-size:15px;
    border-radius:14px;
    margin:0;
}
